.product-card-link {
  text-decoration: none;
  color: inherit;
}

.product-card {
  width: 250px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  position: relative;

  box-shadow:rgba(0,0,0,0.08) 0px 4px 12px;
  transition: .3s;
}

@media (max-width:460px) {
  .product-card {
    width: 360px;
  }
}
@media (max-width:768px) {
  .product-card {
    width: 340px;
  }
}

.product-card:hover{
  transform: translateY(-8px);
  box-shadow: rgba(0,0,0,0.18) 0px 10px 24px;
}

.discount-badge{
  position:absolute;

  top:10px;
  left:10px;

  background:#ff3d3d;
  color:white;

  padding:6px 10px;

  border-radius:8px;
  font-size:12px;
  font-weight:600;

  z-index:2;
}

.product-image-container{
  width:100%;
  height:240px;
  overflow:hidden;
}

.product-image{
  width:100%;
  height:100%;
  object-fit:cover;

  transition:.4s;
}

.product-card:hover .product-image{
  transform:scale(1.06);
}

.product-info{
  padding:15px;
}

.product-title{
  font-size:16px;
  font-weight:600;
  margin-bottom:12px;

  display:-webkit-box;
  -webkit-line-clamp:1;
  -webkit-box-orient:vertical;

  overflow:hidden;
  /* min-height:45px; */
}

.price-container{
  display:flex;
  align-items:center;
  gap:10px;
}

.final-price{
  font-size:20px;
  font-weight:bold;
  color:#111;
}

.original-price{
  color:gray;
  text-decoration:line-through;
  font-size:14px;
}

.save-price{
  margin-top:8px;
  color:green;
  font-size:14px;
  font-weight:600;
}
