.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a.sidebar-option {
  transition: all ease-in-out 0.3s;
  border-bottom: 1px solid tomato;
}

a.sidebar-option:hover {
  background-color: tomato;
  color: white;
}
a.sidebar-option:hover img {
  filter: brightness(0) invert(1);
}

.sidebar-options a.active {
  background-color: tomato;
  color: white;
}
.sidebar-options a.active img {
  filter: brightness(0) invert(1);
}

.sidebar-option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .sidebar-option p {
    display: none;
  }
}
